@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
    }

    h1{
        font-family: 'SEGA LOGO FONT';
        font-weight: 300;
        color: #29947d;
    }

    @media (max-width:375px){
        h1{
        font-family: 'Times New Roman', Times, serif;
        padding-bottom: 0px;
        
        }
    }